<!-- Edit Item -->
<div id="divEditItem">

    <div id="divTop">
        <button id="buttonBack" class="center buttonCustom2">Back to Tale</button>
    </div>

    <!-- Content -->
    <div id="divContent" class="layoutBG">
        <div id="divContentContainer" class="layoutBG">
            <div id="divEditorTextArea" contenteditable="true"></div>
        </div>

        <div id="divEditingContainer" class="layoutBG">
            <div id="divEditingTop" class="layoutBG"></div>
            <div id="divEditingBottom" class="layoutBG"></div>
        </div>
    </div>

</div>
