<!-- About Page -->

<div id="divAbout">

    <h1 id="h1AboutHeading">About Scattertale</h1>


    <div id="divContent">

        <h3>1. What is this website ?</h3>
        <p>Scattertale is for writing on your own or with others</p>
        <p>Imagine an article that is made up of sections that you can easily rearrange and easily add<br> revisions to any part that you can swap around at any time.  That is what Scattertale does</p>
        <p>It allows you to easily move text around to create articles and allows different people to work on different parts</p>




        <h3>2. How does it work ?</h3>
        <p>You create what are called Tales which are like projects</p>
        <p>A Tale contains one or more Rows and a Row contains one or more Items</p>
        <p>Think of a Row as a section of an Article and an Item as a revision to a section of an Article</p>
        <p>An Item could be a single word, a sentence, a paragraph, a page, a chapter or whatever you like</p>
        <p>By combining one Item from every Row you can create an Article</p>
        <p>Articles can be published and shared with everyone</p>

        <img src="../res/about1.png" />





        <h3>3. Where do I start ?</h3>

        <p>Help is in the top-right corner of the page on every page</p>
        <p>Remember to click on Help if you get stuck anywhere ! </p>
        <p>If you haven't used Scattertale before, start by creating an account on the
        <a class="aLink2" href="#">Home Page</a></p>
        <p>See an example of how it works by clicking the
            <a class="aLink2" href="#edit-tale/try-it-out">Try It Out</a> 
            button on the navigation bar</p>
        <p>The main search page is
            <a class="aLink2" href="#search-tales">Here</a>
            . That's where you can search public tales</p>
        <br>
        <br>
        <p>Please email any questions to james4165@hotmail.com</p>
    </div>

</div>
