<!-- Edit Item Page -->
<div id="divEditItem">

    <div id="divTop">
        <a id="aLinkBack" class="aLink2">Return to Tale</a>
    </div>

    <!-- Content -->
    <div id="divContent" class="layoutBG">
        <div id="divContentContainer" class="layoutBG">
            <div id="divEditorTextArea" contenteditable="true"></div>
        </div>

        <div id="divEditingContainer" class="layoutBG">
            <div id="divEditingTop" class="layoutBG"></div>
            <div id="divEditingBottom" class="layoutBG"></div>
        </div>
    </div>

</div>
