<!-- Help Page - Edit Item -->
<div id="divHelpContent">
    <button id="buttonCloseHelp" class="buttonCustom2">Close</button>

    <h1>Edit Tale Help</h1>
    <p>On this screen you can edit a single Item from a Tale.</p>

    <br>
    <p>It works like a normal word processor.  The formatting controls are at the bottom of the page</p>

    <br>
    <p>Push Escape or click Return to Tale at the top to return to the Edit Tale page</p>

    <br>
    <p>The content here is saved when you push the esc key or click Return to Tale</p>
</div>
