<!-- Help Page - Search -->
<div id="divHelpContent">
    <button id="buttonCloseHelp" class="buttonCustom2">Close</button>

    <h1>Search Help</h1>

    <p>On this screen you can search for Tales that other people have written. </p>

    <br>
    <p>Set the Search Options on the Left.  Type in keywords you want to search for in the search bar at the Top (leave empty for all results), then click the Search button or press Enter.</p>

    <br>
    <p>You can change the results page with the controls at the bottom of the screen.</p>

    <br>
    <p>Click on the Picture or Title of a Result to open it</p>
</div>
