<!-- Help Page - Edit Tale -->
<div id="divHelpContent">
    <button id="buttonCloseHelp" class="buttonCustom2">Close</button>

    <h1>Edit Tale Help</h1>
    <p>On this screen you can view the content of a single Tale.  Tales are broken up into Rows and Items.  There can be multiple Rows per Tale and multiple Items per Row</p>

    <br>
    <p>You can use the Arrow Keys to navigate.  Up and Down to change Rows, Left and Right to change Items</p>

    <br>
    <p>The Row with the Orange border is the currently selected Row</p>

    <br>
    <p>Push Enter or click the Edit button on the selected Row to edit the Item.  Enter will edit inline and the Edit button will open a new page where you can edit full screen</p>

    <br>
    <p>Click the Plus button to add a new Item to a Row.  Click the Add Row button on the Sidebar to add a new Row to the Tale</p>

    <br>
    <p>You can swap two rows by dragging the heading of one row onto the heading of the row you want to swap with</p>

    <br>
    <p>The Graph in the Sidebar shows all the Items for this Tale and which Items are active.  You can click on the Graph to change the Active Items</p>

    <br>
    <p>Tales and Items are saved whenever you close editing mode (ie. when you push the esc key when in edit mode), swap items, or go to the edit-item page</p>


</div>
