
#divTale {

    // content area
    #divContent {
        position: relative;
        height: 100%;
        width: 100%;
        margin-top: 40px;
        padding: 0 50px;
        overflow-y: auto;
    }
}
